$primary_fonts: 'Custom-Fonts';
// Colors
$white_color: #FFFFFF;
$primary_color: #6D7ED8;
$gray-color: #6c757d;
$primary_background: #F2F3F6;
$secondary_background: $white_color;
$card_background: $white_color;
// Widths
$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;