//Fonts
@font-face {
  font-family: 'Custom-Fonts';
  src: url('assets/fonts/custom-fonts.woff') format('woff');
}

$primary_fonts: 'Custom-Fonts';

// Colors
$white_color: #FFFFFF;

$primary_background: #F2F3F6;
$secondary_background: $white_color;

$card_background: $white_color;
